.stil{color: blueviolet;}
#titlu{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;padding: 2%;font-size: 40px;background-color: cornsilk; text-align:center; }
#subtitlu{color: darkblue;font-family: Impact;}
footer{text-align:right;padding: 5%;}

